*{
    margin: 0px;
    padding: 0px;
}

body{
    background: grey;
    color: black;
}

.contenedor{
    width: 90%;
    max-width: 1330px;
    margin:20px auto;
    display:grid;
    grid-gap:10px;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, auto);

    grid-template-areas: header header header;
}

.contenedor .header{
    background: blue;
}

.menu, ul, li{
    display: flex;
    flex-direction: row;
    grid-gap:20px;
}

.contenedor .header{
    grid-area: header;
}

.contenedor .widget{

}